#Registerdiv{
    border: 1px solid red;
    /* border: 1px solid red; */
    width: 30%;
    margin: auto;
    margin-top: 20px;
    height: 300px;
    background-color: bisque;
    margin-top: 50px;

}
#registerh1{
    color: rgb(98, 89, 61);
}

#registerformbutton{
    background-color:burlywood;
    width: 170px;
    height: 30px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.1s;
}
#registerformbutton:hover{
    transform: scale(1.1);
}