#parentDiv{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    height: 500px;
    margin-top: 50px;
}
.imgdiv{
    border: 5px solid burlywood;
    width: 40%;
    height: 100%;
}
.detailssec{
    border: 5px solid burlywood;
    width: 40%;
}
.nameh1{
    color: red;
}
#cartbutton{
width: 200px;
height: 40px;
background-color: antiquewhite;
font-size: 20px;
transition: 0.3s;
cursor: pointer;
}
#cartbutton:hover{
    transform: scale(1.1);
    color: white;
    background-color: black;
}
.category2{
    color: brown;
    
}