#cartscreen{
    border: 1px solid red;
    /* display: flex; */
    width: 100%;
    

}
#cartmain{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
  
    
    
}
#cartcontent{
    /* display: flex; */
    border: 1px solid black;
    
}
#cartcontent img{
    border: 1px solid black;
    height: 250px;
    width: 90%;
}
#cartcontent button{
    background-color: burlywood;
    color: black;
    width: 120px;
    height: 30px;
    font-size: 18px;
    transition: 0.1s;
    font-weight: bold;

}

#cartcontent button:hover{
    transform: scale(1,1);
    background-color: antiquewhite;
}