#loginh1{
    /* border: 1px solid red; */
    color: rgb(98, 89, 61);
}
#logindiv{
    border: 1px solid bisque;
    width: 30%;
    margin: auto;
    margin-top: 20px;
    height: 400px;
    background-color: bisque;
    margin-top: 50px;
    border-radius: 10px;
}
#formlogin button{
    background-color:burlywood;
    width: 120px;
    height: 30px;
    margin-top: 20px;
    font-size: 18px;
    transition: 0.1s;
    cursor: pointer;
}
#formlogin button:hover{
    transform: scale(1.1);
}  
#formlogin label{
    /* border: 1px solid red; */
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    /* width: 100%; */
    margin-bottom: 10px;
    
}
#formlogin{
    /* border: 1px solid red; */
    width: 70%;
    margin: auto;
    
    
}