#Addproductdiv{
    border: 1px solid red;
    width: 30%;
    margin: auto;
    margin-top: 20px;
    height: 400px;
    background-color: bisque;
    margin-top: 50px
}

#addproducth1{
    color: rgb(98, 89, 61);
}
#addproductbutton{
    background-color:burlywood;
    width: 120px;
    height: 30px;
    margin-top: 20px;
    font-size: 18px;
    transition: 0.1s;
    cursor: pointer;
}
#addproductbutton:hover{
    transform: scale(1.1);
}
#Addproductform label{
    font-size: 18px;
    font-weight: bold;
}


